* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

:root {
    --white: rgb(246, 246, 246);
    --font-color: hsl(0, 0%, 100%);
    --title-color: hwb(0 100% 0%);
    --background-color: black ;
    --background-image: url('/image/9WYxT.png');
    --verde-forte: #136C4C;
    --verde-fraco: #238662 ;
}


body, html {
    display: flex;
    height: 100%;
    background-color: var(--background-color);
}


.container {
    display: flex;
    width: 100%;
    height: 100%;
}
.container_esquerda {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

#title {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
}

.msg_cadastro {
    padding-top: 40px;
    font-size: small;
    color: var(--title-color);
}

.radio_btn1, .radio_btn2 {   
    margin: 10px 0;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--font-color);
}

#formPessoaFisica, #formPessoaLojista {
    margin-top: 10px;
    color: var(--font-color);
    max-width: 100%;
}

.btn_cadastrar_fisica, .btn_cadastrar_lojista {
    cursor: pointer;
    font-size: 12px;
    padding: 8px 10px ; /*padding: top right bottom left; */
    font-weight: bold;
    color: var(--font-color);
    background: var(--verde-forte);
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
}

.btn_cadastrar_fisica:hover, .btn_cadastrar_lojista:hover {
    background-color: var(--verde-fraco);
}

.container_direita {
    width: 50%;
    /* background-image: url("./image/img_propaganda.jpg"); */
    background-size: cover;
    background-position: center;
    display: flex;
    flex: 1;
}

