* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --white: rgb(246, 246, 246);
    --font-color: hsl(0, 0%, 100%);
    --title-color: hwb(0 100% 0%);
    --background-color: black ;
    --background-image: url('/image/9WYxT.png');
    --verde-forte: #136C4C;
    --verde-fraco: #238662 ;
}


body {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
}


#title {
    display: flex;
    margin-top: 120px;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    border-radius: 10px;
}

.title_icone {
    width: 2em;   
    text-decoration: none;
}

.msg_cadastro {
    padding-top: 80px;
    padding-bottom: 0px;
    font-size: small;
    color: var(--title-color);
}

.radio_btn1, .radio_btn2 {   
    font-size: 20px;
    text-transform: uppercase;
    color: var(--font-color);
}

#formPessoaFisica, #formPessoaLojista {
    margin-top: 10px;
    color: var(--font-color);
}

.btn_cadastrar_fisica, .btn_cadastrar_lojista {
    cursor: pointer;
    font-size: 12px;
    padding: 8px 10px ; /*padding: top right bottom left; */
    font-weight: bold;
    color: var(--font-color);
    background: var(--verde-forte);
    border-radius: 10px;
}

.btn_cadastrar_fisica:hover, .btn_cadastrar_lojista:hover {
    color: var(--font-color);
    background-color: var(--verde-fraco);
}
