* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

:root {
    --white: black;
    --font-color: black;
    --title-color: black;
    --background-color: white;
    --verde-forte: #136C4C;
    --verde-fraco: #238662;
    --base-font-size: 16px;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container_esquerda {
    width: 50%;
    height: 100%;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container_esquerda img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container_direita {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    position: relative;
}

.imagem_logo {
    width: 20rem;
    padding: 0 0 3.125rem 0;
    position: absolute;
    top: 1rem;
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
}

#title {
    margin-bottom: 1.875rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--title-color);
    font-size: 1.5625rem;
}

/* Estilos para os inputs */
.form_blanks {
    padding: 0.9375rem 1.875rem;
    width: 100%;
    outline: none;
    border: 0.1875rem solid transparent;
    border-radius: 0.625rem;
    box-shadow: none;
    font-size: 0.9375rem;
}

.form_blanks:hover {
    border-color: var(--verde-fraco);
}

.form_blanks:focus {
    border-color: var(--verde-forte);
}

button {
    cursor: pointer;
    font-size: 0.875rem;
    padding: 0.5rem 0.625rem;
    font-weight: bold;
    color: var(--font-color);
    background: var(--verde-forte);
    border-radius: 0.625rem;
    margin-top: 0.625rem;
    width: 100%;
    outline: none;
    border: 0.1875rem solid transparent;
}

button:hover {
    background-color: var(--verde-fraco);
}

a {
    color: var(--font-color);
}

a:hover {
    background-color: #E6F6F0;
    width: 6.25rem;
}

.levar_cadastro {
    margin-top: 0.5rem;
    text-align: center;
    color: var(--verde-forte);
    border-radius: 0.3125rem;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .container_esquerda {
        display: none;
    }

    .container_direita {
        top: 22rem;
        width: 100%;
        order: 1;
    }

    .imagem_logo {
        top: -10rem;
        width: 8rem;
    }
}

@media (max-width: 480px) {
    .container_esquerda {
        display: none;
    }

    .container_direita {
        width: 100%;
    }

    .form_blanks {
        width: 100%;
    }

    .imagem_logo {
        top: -10rem;
        width: 8rem;
    }
}
