* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

:root {
    --white: black;
    --font-color: black;
    --title-color: black;
    --background-color: white;
    --verde-forte: #136C4C;
    --verde-fraco: #238662;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container_esquerda {
    width: 50%;
    height: 100%;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container_esquerda img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container_direita {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#title {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: var(--title-color);
    font-size: 25px;
}

.form_blanks {
    padding: 15px 30px ;
    width: 100%; 
    outline: none;
    border: 3px solid transparent;
    border-radius: 10px;
    box-shadow: none;
    font-size: 15px;
}

.form_blanks:hover {
    border-color: var(--verde-fraco);
}

.form_blanks:focus {
    border-color: var(--verde-forte);
}

button {
    cursor: pointer;
    font-size: 14px;
    padding: 8px 10px;
    font-weight: bold;
    color: var(--font-color);
    background: var(--verde-forte);
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    outline: none;
    border: 3px solid transparent;
}

button:hover {
    background-color: var(--verde-fraco);
}

a {
    color: var(--font-color);
}

a:hover {
    background-color: #E6F6F0;
    width: 100px;
}

.levar_cadastro {
    margin-top: 10px;
    text-align: center;
    color: var(--verde-forte);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .container_esquerda {
        width: 100%;
        height: 300px;
        order: 2;
    }

    .container_direita {
        width: 100%;
        order: 1;
    }
}

@media (max-width: 480px) {
    .container_esquerda {
        display: none;
    }

    .container_direita {
        width: 100%;
        margin-top: 250px;
    }

    .form_blanks {
        width: 100%;
    }
}
